body, html, header {
  margin: 0;
  padding: 0; }

div, span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none; }

html {
  font-size: 16px; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  height: 42px;
  background-color: #f5f6f6; }
  header .sickName {
    color: #3c4350; }
  header .place {
    color: #fd4d61; }

.content {
  height: 189px;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 1.7rem;
  border-top: 1px solid #ffffff; }
  .content .first, .content .second, .content .third {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 22px; }
    .content .first .medicineNameTi, .content .second .medicineNameTi, .content .third .medicineNameTi, .content .second .apply, .content .third .suit {
      color: #3c4350;
      height: 40px;
      line-height: 40px;
      width: 4rem; }
    .content .first .medicineNameBox, .content .second .medicineNameBox, .content .third .medicineNameBox, .content .second .applyBox, .content .third .suitBox {
      width: 58%;
      min-width: 130px;
      background-color: rgba(43, 56, 87, 0.1);
      border: 1px solid rgba(157, 161, 167, 0.1);
      border-radius: 5px;
      outline: none;
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: none;
      font-size: 1rem; }
    .content .first .inquire, .content .second .inquire, .content .third .inquire {
      height: 40px;
      line-height: 40px;
      width: 3rem;
      background-color: #fd4d61;
      text-align: center;
      line-height: 40px;
      color: #ffffff;
      border-radius: 5px;
      font-size: 0.9rem; }
  .content .second {
    margin-top: 0.5rem; }
    .content .second .nbsp {
      height: 40px;
      width: 3rem; }
  .content .third {
    margin-top: 0.5rem; }
    .content .third .nbsp {
      height: 40px;
      width: 3rem; }

@media only screen and (max-width: 340px) {
  .medicineNameTi, .content .second .apply, .content .third .suit {
    font-size: 0.95rem !important; }

  .medicineNameBox, .content .second .applyBox, .content .third .suitBox {
    width: 55% !important; } }
.lists {
  overflow-y: scroll; }

.organization {
  height: 182px;
  border-bottom: 1px solid #e7e7e7; }
  .organization .orzNameCon, .organization .mainCon, .organization .experimentCon, .organization .alyCon, .organization .telCon {
    margin-top: 16px;
    padding: 0 1.7rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .organization .orzNameCon .oraName, .organization .mainCon .oraName, .organization .experimentCon .oraName, .organization .alyCon .oraName, .organization .telCon .oraName {
      color: #000;
      font-size: 1.1rem;
      font-weight: bold;
      height: 2.5rem;
      line-height: 2.5rem;
      white-space: pre; }
    .organization .orzNameCon .oraZ, .organization .mainCon .oraZ, .organization .experimentCon .oraZ, .organization .alyCon .oraZ, .organization .telCon .oraZ, .organization .mainCon .main, .organization .experimentCon .main, .organization .alyCon .main, .organization .telCon .main, .organization .experimentCon .experiment, .organization .alyCon .aly, .organization .telCon .tel {
      height: 2.5rem;
      font-size: 0.9rem;
      min-width: 177px;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
  .organization .mainCon, .organization .experimentCon, .organization .alyCon, .organization .telCon {
    height: 1.3rem;
    margin-top: 8px;
    font-size: 0.9rem; }
    .organization .mainCon .mainer, .organization .experimentCon .mainer, .organization .alyCon .mainer, .organization .telCon .mainer, .organization .experimentCon .experimentSta, .organization .alyCon .alyEr, .organization .telCon .telP {
      color: #3c4350;
      height: 1.5rem;
      line-height: 1.5rem;
      white-space: pre; }
    .organization .mainCon .main, .organization .experimentCon .main, .organization .alyCon .main, .organization .telCon .main, .organization .experimentCon .experiment, .organization .alyCon .aly, .organization .telCon .tel {
      color: #3c4350;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center; }

#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  display: none; }
  #top .topImg {
    width: 100%;
    height: 100%; }

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=detailedInfo.css.map */
