body, html, header {
  margin: 0;
  padding: 0;
}

div, span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

html {
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  height: 42px;
  background-color: rgb(245, 246, 246);
  .sickName {
    color: rgb(60, 67, 80);
  }
  .place {
    color: rgb(253, 77, 97);
  }
}

.content {
  height: 189px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 0 1.7rem;
  //background-color: red;
  border-top: 1px solid #ffffff;
  .first {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 22px;
    .medicineNameTi {
      color: rgb(60, 67, 80);
      height: 40px;
      line-height: 40px;
      width: 4rem;
    }
    .medicineNameBox {
      width: 58%;
      min-width: 130px;
      background-color: rgba(43, 56, 87, 0.1);
      border: 1px solid rgba(157, 161, 167, 0.1);
      border-radius: 5px;
      outline: none;
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: none;
      font-size: 1rem;
    }
    .inquire {
      height: 40px;
      line-height: 40px;
      width: 3rem;
      background-color: rgb(253, 77, 97);
      text-align: center;
      line-height: 40px;
      color: #ffffff;
      border-radius: 5px;
      font-size: 0.9rem;
    }
  }
  .second {
    @extend .first;
    margin-top: 0.5rem;
    .apply {
      @extend .medicineNameTi;
    }
    .applyBox {
      @extend .medicineNameBox;
    }
    .nbsp {
      height: 40px;
      width: 3rem;
    }
  }
  .third {
    @extend .first;
    margin-top: 0.5rem;
    .suit {
      @extend .medicineNameTi;
    }
    .suitBox {
      @extend .medicineNameBox;
    }
    .nbsp {
      height: 40px;
      width: 3rem;
    }
  }
}

@media only screen and (max-width: 340px) {
  .medicineNameTi {
    font-size: 0.95rem !important;
  }
  .medicineNameBox {
    width: 55% !important;
  }
}

.lists {
  overflow-y: scroll;
}

.organization {
  height: 182px;
  border-bottom: 1px solid rgb(231, 231, 231);
  .orzNameCon {
    margin-top: 16px;
    padding: 0 1.7rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //border:1px solid black ;
    //background-color: #2eb872;
    .oraName {
      color: #000;
      font-size: 1.1rem;
      font-weight: bold;
      height: 2.5rem;
      line-height: 2.5rem;
      white-space: pre;
    }
    .oraZ {
      height: 2.5rem;
      //line-height: 2.5rem;
      font-size: 0.9rem;
      //background-color: #2eb872;
      min-width: 177px;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: pre-line;
    }
  }
  .mainCon {
    @extend .orzNameCon;
    height: 1.3rem;
    margin-top: 8px;
    //border:1px solid black ;
    font-size: 0.9rem;
    .mainer {
      color: rgb(60, 67, 80);
      height: 1.5rem;
      line-height: 1.5rem;
      white-space: pre;
    }
    .main {
      @extend .oraZ;
      color: rgb(60, 67, 80);
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .experimentCon {
    @extend .mainCon;
    .experimentSta {
      @extend .mainer;
    }
    .experiment {
      @extend .main
    }
  }
  .alyCon {
    @extend .mainCon;
    .alyEr {
      @extend .mainer;
    }
    .aly {
      @extend .main
    }
  }
  .telCon {
    @extend .mainCon;
    .telP {
      @extend .mainer;
    }
    .tel {
      @extend .main
    }
  }
}

#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  display: none;
  .topImg {
    width: 100%;
    height: 100%
  }
}

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
