@import '../../commons/mixins/search-box';

.index-page {
    .search-box {
        @include search-box;
    }

    .bannerBox {
        width: 100%;
        .banner {
            width: 100%;
            display: block;
        }
    }

    .disease-category-container {
        margin-bottom: 45px;
        .disease-category {
            border-bottom: 1px solid #f9f9f9;
            .disease-header {
                padding: 14px 0;
                text-align: center;
                transition: all .5s;
                &.open {
                    color: rgb(253, 77, 97);
                }
            }

            .disease-body {
                position: relative;
                color: rgb(74, 74, 74);
                background-color: #F6F6F7;
                padding: 12px 7px;
                display: flex;
                flex-wrap: wrap;
                &:before {
                    position: absolute;
                    content: '';
                    width: 16px;
                    height: 16px;
                    top: -8px;
                    left: 50px;
                    background-color: #F6F6F7;
                    transform: rotate(45deg);
                }
                .disease-item {
                    padding: 3px 10px 3px 10px;
                    margin: 8px 0 0 10px;
                    border: 1px solid #E8E9EC;
                    border-radius: 25px 25px;
                    background-color: #F0F1F5;
                    transition: all .3s;
                    &.selected {
                        .red {
                            color: #fff;
                        }
                        background-color: #2EB872;
                        color: #fff;
                        border: 1px solid transparent;
                    }
                }
            }

        }
    }

    .next-step {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        line-height: 45px;
        height: 45px;
        border: none;
        margin: 0;
        background-color: #2EB872;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 2px;
    }
}

.select-province-city {
    display: flex;
    flex-direction: column;
    .header {
        padding: 18px 20px;
        display: flex;
        .title {
            color: rgb(46, 184, 114);
        }
        button {
            color: rgb(60, 67, 80);
            background: transparent;
            border: none;
            padding: 0 0 0 15px;
        }
    }

    .select-box {
        display: flex;
        margin-top: 10px;
    }

    .select-province {
        overflow: auto;
        width: 30%;
        margin: 0 20px;

        .province-item {
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            &.selected {
                background: #2EB872;
                color: #000;
            }
        }
    }
    .select-city {
        flex: 1;
        margin: 0 20px;
        overflow: auto;
        .city-item {
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            &.selected {
                background: #2EB872;
                color: #000;
            }
        }
    }

}
