.institution-page {
    padding-bottom: 50px;

    .disease-and-area {
        background-color: #F5F6F6;
        padding: 11px 27px;
        display: flex;
        justify-content: space-between;

        .area {
            color: rgb(253, 77, 97);
        }
    }

    .search-box {
        padding: 25px 15px 25px 27px;
        border-bottom: 1px solid rgb(231, 231, 231);
        display: flex;
        .search-box-form {
            flex: 1;

            .item {
                margin-top: 8px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .indication {
                margin-top: 11px;
            }

            label {
                display: inline-block;
                width: 75px;
            }
            input {
                background: #F6F6F7;
                border: none;
                border-radius: 4px;
                outline: none;
                box-shadow: none;
                height: 20px;
            }
        }

        .search-btn-container {
            width: 60px;
            padding-top: 10px;

            button {
                padding: 7px 12px;
                border: none;
                border-radius: 2px;
                background-color: rgb(253, 77, 97);
                color: #fff;
            }
        }
    }

    .trail-list {
        padding-top: 10px;
        .trail-item {
            padding: 10px 27px;
            border-bottom: 1px solid rgb(231, 231, 231);
            &:last-child {
                border-bottom: none;
            }
            header {
                font-size: 17px;
                font-weight: 600;
            }
            .trail-item-body {
                padding: 8px 0;

                .body-item {
                    margin-top: 6px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .leave-message {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        button {
            background: #2EB872;
            border: none;
            width: 100%;
            height: 50px;
            line-height: 50px;
            color: #fff;
            font-size: 16px;
        }
    }
    .loading-ui {
        position: fixed;
        top: 40%;
        left: 45%;
    }
}
